
/** Menu & Footer **/

body {
    margin: 0;
}

.menu {
    background-color: #D90B42;
    min-height: 100px;
    top: 0;
    padding-left: 50px; 
    padding-right: 50px;     
    padding-top: 30px; 
    padding-bottom: 20px;
}

.menu-right {
    display: flex;
}

.menu-links {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}


.menu-links a:hover {
    text-decoration: underline;
    color: #91D2D9;
}


.menu-links a{
color: white;
text-decoration: none; 
margin-right: 15px; 
font-size: 70px;
margin-bottom: 45px;
text-transform: uppercase;
font-weight: 900;
}


.menu-links p:hover {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}


.menu-input {
    display: flex; 
    justify-content: space-between;
}

.logo {
    width: 200px;
}

p {
    font-weight: bolder;
}

/* .menu-open {
    background-color: aquamarine;
    width:100vw;
    height: 100vh;
}
 */

/**Menu Toggler**/
/* https://www.youtube.com/watch?v=dIyVTjJAkLw */

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
/*     border: 3px solid #FFF; */
}
.menu-btn-burger {
width: 50px;
height: 6px;
background: #FFF;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(255,101,47,0.2);
transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after{
    content: '';
    position: absolute;
    width:50px;
    height:6px;
    background: #fff;
    border-radius: 5px;
box-shadow: 0 2px 5px rgba(255,101,47,0.2);
transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
    transform: translateY(-16px);
}
.menu-btn-burger::after {
    transform: translateY(16px);
}


/*Animation Menu Toggler */

.menu-btn.open .menu-btn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}


.openmenu {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0,0,0,0.95);
    z-index: 200;
    animation: smoothOpen 0.6s ease-in-out;
    overflow: hidden;
}


.openmenu a {
    color: white;
    text-decoration: none;
}

@keyframes smoothOpen {
    from {
        transform: translate(300px);
    }
    to {
        transform: translate(0);
    }
}

.d-none {
    animation: smoothClos 0.6s ease-in-out;
    display: none;
}

@keyframes smoothClose {
    from {
        transform: translate(0px);
    }
    to {
        transform: translate(300);
    }
}



/* Footer */

.footer {
    bottom: 0;
    margin-top: 40px; 
}

.wave {
width: 100%;
position: absolute;
z-index: -10;
}

.footer-input {
    display: flex;
    margin-left: 50px;
    bottom: -260px;
    position: relative;
}

.social-media {
    margin-right: 80px;
}

.social-media img{
    width: 65px;
    margin-right: 10px;
}

.importants {
    display: flex; 
    flex-direction: column;
}

.importants p {
    margin-top: 5px;
}

.importants a {
    text-decoration: none;
    color: black;
}



@media (max-width: 1600px) {

.footer-input {
    bottom: -220px;
}
.menu-links a {
    font-size: 60px;
}
}

@media (max-width: 1500px) {

    .footer-input {
        bottom: -200px;
    }
    }
    
    @media (max-width: 1400px) {

        .footer-input {
            bottom: -180px;
        }
        .menu-links a {
            font-size: 50px;
            margin-bottom: 30px;
        }
        }

        @media (max-width: 1300px) {

            .footer-input {
                bottom: -160px;
            }
            }
            @media (max-width: 1150px) {

                .footer-input {
                    bottom: -140px;
                }
                }

                @media (max-width: 1050px) {

                    .footer-input {
                        bottom: -120px;
                    }
                    }

                    @media (max-width: 1050px) {
.social-media img {
    width: 55px;
}
                        }


                        @media (max-width: 1050px) {
                            .footer-input {
                                bottom: -100px;
                                z-index: 12;
                            }

                            .footer {
                                margin-top: -20px;
                            }

                            .wave {
                                z-index: 10;
                            }

                            @media (max-width: 850px) {
                                .social-media img {
                                    width: 45px;
                                }
                                .footer {
                                    margin-top: -10px;
                                }
                                                    }

                                                }

                                                
@media (max-width: 750px) {
    .social-media img {
        width: 40px;
    }
}
                                                
@media (max-width: 700px) {
    .social-media img {
        width: 40px;
    }
    .footer-input {
        bottom: -80px;
    }
}

@media (max-width: 650px) {
  .logo {
      width: 180px;
  }
  .social-media img {
    width: 35px;
}
.footer-input {
    bottom: -70px;
}
  }

  @media (max-width: 550px) {
      .logo {
          width: 160px;
      }
      .menu {
      padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    min-height: 80px;
}
.footer-input {
    bottom: -60px;
}
.menu-links a {
    font-size: 35px;
    margin-bottom: 25px;
}
  }

  @media (max-width: 500px) {
      .logo {
          width: 150px;
      }
      h2 {
          margin-top:40px;
      }
      .footer-input {
        bottom: -50px;
    }
  }

  @media (max-width: 500px) {
    .footer-input {
        display: none;
    }
  }
